<div id="page-guide">
  <form action=<%= browse_path %>>
    <p>
    <a href=<%= browse_path(page: 1) %>>first  <<-</a>
    <% if @page[:current].to_i > 1 %>
      <a href=<%= browse_path(page: (@page[:current].to_i - 1)) %>>prev  <-</a>
    <% end %>
      page: <input type="text" name="page" value=<%= @page[:current] %> id="page-input">
    <% if @page[:current].to_i < @page[:total].to_i %>
      <a href=<%= browse_path(page: (@page[:current].to_i + 1)) %>>->  next</a>
    <% end %>
    <a href=<%= browse_path(page: "last") %>>->>  last</a>
    </p>jump to page:
    <% @page[:range].each do |num| %>
      <a href=<%= browse_path(page: num) %>><%= num %></a>
    <% end %>
    <p>results per page:
      <a href=<%= pages_path(page_count: 12) %>>12</a> -
      <a href=<%= pages_path(page_count: 24) %>>24</a> -
      <a href=<%= pages_path(page_count: 48) %>>48</a>
    </p>
    <input type="submit" style="visibility: hidden;">
  </form>
</div>
